<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .signIn{
        background: url("1528374827430.jpg")  no-repeat center/cover;
        height: 1200px;
        width: 1600px;
        position: fixed;

    }
    .text{
        margin: 20px 50px;
        font-size: 25px;
    }
    .login1{
            background: aqua;
        border-radius: 10px;
        width: 80px;
        height: 35px;
        }
</style>
<body>
<div class="signIn">
    <form action="/signIn" method="post">
        <div class="text">
        <label>Email: <input type="text" name="email"></label>
        <label>Password: <input type="text" name="password"></label>
        <input class="login1" type="submit" value="Click"></div>
    </form>
</div>

</body>
</html>